
// *
// * BRAND COLORS
// * https://brandcolors.net/
// *

// Social
$color-facebook: hsl(221, 44%, 41%);
$color-github-lightgrey: hsl(0, 0%, 96%);
$color-google-blue: hsl(217, 89%, 61%);
$color-google-green: hsl(136, 53%, 43%);
$color-google-yellow: hsl(45, 97%, 50%);
$color-google-red: hsl(5, 81%, 56%);
$color-instagram: hsl(349, 75%, 57%);
$color-linkedin: hsl(201, 100%, 35%);
$color-medium: hsl(0, 0%, 12%);
$color-pinterest: hsl(353, 92%, 39%);
$color-twitter: hsl(206, 82%, 63%);
$color-youtube-red: hsl(0, 100%, 50%);
// Utiles
$color-post-it: hsl(60, 100%, 82%);
