//    Triangles
$symbol-triangle-up: '\25b2'; // ▲
$symbol-triangle-down: '\25bc'; // ▼
$symbol-triangle-right: '\25b6'; // ▶
$symbol-triangle-left: '\25c0'; // ◀
//    Citation
$symbol-openquote-chevron: '\ab';   // «
$symbol-closequote-chevron: '\bb';   // »
$symbol-openquote-simple: '\2018'; // “
$symbol-closequote-simple: '\2019'; // ”
$symbol-openquote-double: '\201c'; // “
$symbol-closequote-double: '\201d'; // ”
//    UI
$symbol-close: '\00d7'; // ×
$symbol-external-link: '\279A'; // ➚
$symbol-space: '\0000a0\279A';
